{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Display2</title>
{% endblock title %}


{% block content %}
<div class="container-fluid">
    <div class="outerbox d-flex d-inline-block justify-content-center">
        <div class="leftbox d-flex d-block flex-column justify-content-center">
            <div class="box1 d-flex d-block justify-content-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active justify-content-center">
                            <img class="d-block justify-content-center" src="{{productinfo.p_img.url}}"
                                alt="First slide" />
                        </div>
                        <div class="carousel-item justify-content-center">
                            <img class="d-block justify-content-center" src="{{productinfo.p_img.url}}"
                                alt="Second slide" />
                        </div>
                        <div class="carousel-item justify-content-center">
                            <img class="d-block justify-content-center" src="{{productinfo.p_img.url}}"
                                alt="Third slide" />
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="box2 d-flex d-block flex-column">
                <div class="box2-boxtitle">DESRIPtion</div>
                <div class="box2-description">
                    {{productinfo.description}}
                </div>
            </div>
        </div>

        <div class="rightbox d-flex d-inline-block flex-column">
            <div class="box3 d-flex d-block flex-column">
                <div class="box3-price"> &#x20B9; {{productinfo.price}}</div>
                
                <span class="box3-loc"> {{productinfo.p_city}}, {{productinfo.p_state}}</span>
            </div>
            <div class="box4 d-flex d-block flex-column">
                <div class="box4-seller-description">Seller description</div>
                <div class="box4-seller">
                    <img class="box4-seller-img" src="{% static 'images/user-02.jpg' %}" alt="" /> Aniket
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}