.container-fluid{
  padding-left:0px;
  padding-right:0px;
}
.box1 {
  width: 834px !important;
  height: 480px !important;

  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.box2 {
  width: 833px !important;
  height: auto !important;
  border: 1px solid rgba(0, 47, 52, 0.2);
  margin-left: 0px;
  margin-right: 0px;
}
.box3 {
  width: 336px !important;
  height: 132px !important;
  border: 1px solid rgba(0, 47, 52, 0.2);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 100px;
  padding:10px 10px 10px;
}
.box4 {
  width: 336px !important;
  height: 132px !important;
  border: 1px solid rgba(0, 47, 52, 0.2);
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 100px;
  padding:10px 10px 10px;
  background-color:lightgrey;
}
.leftbox {
  width: auto !important;
  height: inherit !important;
  border: 0px solid rgba(0, 47, 52, 0.2);
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 50px;
}
.rightbox {
  width: 339px !important;
  height: 240px !important;
  margin-top: 50px;
 margin-left: 50px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

div > .box4-seller {
  font-size: 16px;
}

.carousel-item > img {
  width: 830px !important;
  height: 450px !important;
}
.carousel-item {
  justify-content: center;
}
.box4-seller-description {
  width: 336px !important;
  height: 132px !important;
  line-height: 20px;
  margin: 0;
  font-weight:bolder;
  font-size: 20px;
  color: #002f34;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  text-align: center;
}
.box4-seller {
  width: 336px !important;
  height: 132px !important;
  line-height: 20px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: #002f34;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  padding-left:30px ;
  align-items:center;
  margin-top: 10px;
  position:center;

}
.box4-seller > img {
  width: 40px;
  height: 40px;
 
}
.box4-seller-img{
  
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
  
}

span > .box3-loc{
  font-style: monospace;
}
div >.box2-boxtitle {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  color: #002f34;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  letter-spacing: 2px;
  
}
.box2-description {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  color: #002f34;
  font-size: 16px;
  line-height: 20px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}
div > .box3-price{
  font-size:34px;
  font-weight:bold;
  Text-align:center;
}
div > .box3-details{
  font-family:Roboto,sans-serif;
}


div> li > a >.nav-link {
  text-decoration-color: white!important;
  text-emphasis-color:white;
  color:white !important;
}
nav.navbar{
 
  background-color:blueviolet;
  text-decoration-color:white !important;
}
nav-item{
  text-decoration-color: white!important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

nav > *{
  text-decoration-color:white !important;

}

/* this is card css */
.container {
  margin-top: 200px
}

.social-icon .fa {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  height: 30px !important;
  line-height: 1;
  font-size: 14px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #fff;
  background: none
}
.social-icon .fa-facebook {
  background-color: #3b5998
}

.social-icon .fa-twitter {
  background-color: #00aced
}

.social-icon .fa-linkedin {
  background-color: #007bb6
}

.social-icon .fa-youtube {
  background-color: #bb0000
}

.social-icon .fa-instagram {
  background-color: #517fa4
}

.social-icon-large {
  margin-right: 20px
}

.social-icon-large .fa {
  font-size: 25px;
  background: transparent;
  color: #000;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 60px !important;
  line-height: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease
}

.social-icon-large:hover .fa {
  color: #fff
}

.social-icon-large:hover .fa-facebook {
  background-color: #3b5998
}

.social-icon-large:hover .fa-twitter {
  background-color: #00aced
}
.social-icon-large:hover .fa-linkedin {
  background-color: #007bb6
}
.social-icon-large:hover .fa-youtube {
  background-color: #bb0000
}
.social-icon-large:hover .fa-instagram {
  background-color: #517fa4
}

.btn-round {
  border-radius: 4px !important
}

.btn.btn-large i {
  font-size: 24px
}


 /* footer section */
 footer {
   margin-top: 100px;
   padding:0px 0px 0px ;
   margin-left:0px ;
   margin-right: 0px;
   
 }
 footer,footer >div ,.card {
   background-color: dimgray;

 }


 /*  navigation */

 

 /* this is seller page */
#seller{
  margin-left:500px;
  width: 500px;
  height: 500px;
  
}
.one{
  border:none!important;
}
table,th,tr {
  border:solid 1px black;
  padding:10px;
}
.seller-img{
  margin-left: 10px;
}